@use "../variables";
@use "../_mixins";

.header-admin {
  @include mixins.header(60px, 2rem 1.5rem);
}

.navbar-and-brand {
  display: flex;
  width: 260px;
  align-items: center;
}

.brand {
  margin-right: 2rem;
}

.navbar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-menu-icon {
  font-size: 2rem;
  color: variables.$text-white;
}

.header-menu-icon {
  font-size: 2rem;
  color: variables.$text-white;
}

.header-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: variables.$bg-white;
}

.avatar-icon {
  font-size: 1.5rem;
}

/* ASIDE */ 
.container-admin {
  display: flex;
  width: 100% !important;
  height: 100%;
}

.aside {
  height: 100%;
  width: 230px;
  background-color: variables.$bg-primary-color-blue;
}

.aside .aside-navbar,
.aside .aside-navbar ul {
 width: 100%;
 height: 100%;
}


.aside .aside-navbar ul div h2 {
  color: variables.$text-white;
  padding: 1.2rem;
  font-size: .8rem;
}

.aside .aside-navbar ul li {
  color: variables.$text-white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem 1.2rem;
}

.aside .aside-navbar ul li .person-icon,
.aside .aside-navbar ul li .dashboard-icon,
.aside .aside-navbar ul li .factory-icon, 
.aside .aside-navbar ul li .commodies-icon,
.aside .aside-navbar ul li .person-icon,
.aside .aside-navbar ul li .places-icon,
.aside .aside-navbar ul li .tables-icon,
.aside .aside-navbar ul li .gift-icon,
.aside .aside-navbar ul li .timer-icon {
  font-size: 1.5rem;
}

.aside .aside-navbar ul li a {
  margin-left: 1rem;
}

/* Content */ 
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #EEF5F9; 
}

.header-admin-title {
  background-color: variables.$bg-white;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  padding-left: 1rem;
}

/* Dashboard content*/ 
.container-dashboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 1.4rem;
}

.dashboard-item {
  display: flex;
  align-items: center;
  background-color: variables.$bg-white;
  width: 23%;
  height: 100px;
  padding: 0 1.2rem;
}

.dashboard-item .users,
.dashboard-item .place,
.dashboard-item .reservation,
.dashboard-item .points {
  padding: 1.2rem;
  color: #FFF;
  font-size: 1.2rem;
  border-radius: 100px;
  margin-right: 1rem;
}

.dashboard-item .users {
  background-color: variables.$bg-secondary-color-blue;
}

.dashboard-item .place {
  background-color: variables.$bg-warning,;
}

.dashboard-item .reservation {
  background-color: variables.$bg-primary-color-blue;
}

.dashboard-item .points {
  background-color: variables.$bg-danger;
}

.dashboard-item .users .users-icon,
.dashboard-item .users .place-icon {
  font-size: 1.4rem;
}

/* Footer */ 
.footer {
  background-color: variables.$bg-white;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}