@use '../../variables';

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content .main-content-actions {
    display: flex;
    align-items: center;
    padding: 1.8rem 1rem;
    width: 100%;
}

.main-content .main-content-actions .btn-actions {
    display: flex;
    align-items: center;
    padding: 1.8rem 1rem;
    width: 30%;
}

.main-content .main-content-actions .btn-actions .btn-refresh,
.main-content .main-content-actions .btn-actions .btn-add {
    padding: 1.2rem;
    border-radius: 100px;
    color: variables.$text-white;
    font-size: 1.4rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.main-content .main-content-actions .btn-actions .btn-refresh {
    background-color: variables.$text-dark-gray;
    margin-right: .8rem;
}

.main-content .main-content-actions .btn-actions .btn-add {
    background-color: variables.$bg-secondary-color-blue;
}

.search-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container .search-input {
    background: variables.$text-white;
    height: 50px;
    width: 48%;
    padding-left: 1rem;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.search-container .search-select {
    background: variables.$bg-dark-gray;
    height: 50px;
    width: 48%;
}

/* Grid */
.grid-container div {
    background-color: variables.$bg-white;
    width: 100%;
} 

.grid-container div .grid-header-items {
    font-weight: bold;
}

.grid-container div ul.grid-header-items,
.grid-container div ul.grid-list-items {
    width: 100%;
    color: variables.$text-dark-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    flex-direction: column;
} 

.grid-container div ul.grid-header-items li,
.grid-container div ul.grid-list-items li {
    width: 100%;
    display: flex;
    border: 1px solid #cecece;
    padding: 1rem;
}

.grid-container div ul li .grid-header-actions,
.grid-container div ul li .grid-list-btn-actions {
    width: 20%;
}

.grid-container div ul li span {
    width: 100%;
}

.grid-container div ul li div button {
    font-size: 1.2rem;
}


